<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:replace="module/macros :: head"></div>
<body class="user-select">

<div th:replace="module/macros :: header(3)"></div>

<section class="container">
  <div class="content-wrap">
    <div class="content">
      <div class="title">
        <h3>赞助</h3>
      </div>

      <article th:each="sponsor : ${info.list}" class="excerpt excerpt-1">
        <a class="focus" th:href="@{/details(id=${sponsor.sponsorId},status='赞助')}" title="">
          <img class="thumb"  th:src="${sponsor.sponsorPicture}" alt="">
        </a>
        <header>
          <span class="cat" href="program">赞助</span>
          <h2><a th:text="${sponsor.sponsorTitle}" th:href="@{/details(id=${sponsor.sponsorId},status='赞助')}" title=""></a></h2>
        </header>
        <p class="meta">
          <time class="time" th:text="${#dates.format(sponsor.sponsorCreatetime,'yyyy/MM/dd HH:mm:ss')}"><i class="glyphicon glyphicon-time"></i> </time>
          <span class="views"><i class="glyphicon glyphicon-eye-open"></i> 共<span th:text="${sponsor.sponsorCount}"></span>人围观</span>

        <p class="note"  th:text="${sponsor.sponsorContent}"></p>
      </article>

      <div th:style="${search ==null ? 'display:none':''}">
        <div th:replace="module/macros :: pageIndexSearch(${info},${search})"></div>
      </div>
      <div th:style="${search !=null ? 'display:none':''}">
        <div th:replace="module/macros :: pageIndex(${info})"></div>
      </div>
    </div>
  </div>
  <aside class="sidebar">

    <div th:replace="module/macros :: sidebarforsponsor"></div>

    <div th:replace="module/macros :: hot_articlefrosponsor"></div>

  </aside>
</section>

<div th:replace="module/macros :: footer"></div>


<div th:replace="module/macros :: footer_js"></div>

</body>
</html>